In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('kuja.csv')
nlp_idea = pd.read_csv('nlp_idea.csv')

In [3]:
#merging both dataset
df = data.merge(nlp_idea,on='idea')

In [4]:
df.head(2)

,country_name,location_name,service_point_name,service_type,satisfied,satisfied_num,idea,lat_lon,time_zone,created_at_tz,uploaded_at_tz,unique_id,gender,sentence
0,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,True,1,Buy a vehicle for the traders in palabek settl...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:24,1/28/2021 12:28,e26b3d90-617c-11eb-a5d6-7ddcf5547601,MALE,We need buy vehicle traders palabek
1,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,False,0,Support us with a transport means to take our ...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:21,1/28/2021 12:28,80f85750-617c-11eb-a5d6-7ddcf5547601,MALE,We need support us transport means

### Data cleaning

<ul>
    <li>lat_lon	 ,splits separately (in tableau)
    <li>unique_id, remove wont be necessary for analysis
    <li>uploaded_at_tz, theres no much difference in the 'created_at_tz' so will be using this instead (date column)
    <li>satisfied_num, will be using the satisfied instead
    <i><li> Changing datatypes in tableau</i>
</ul>

In [5]:
print(df.shape)
print(data.shape)

(10152, 14)
(10000, 13)

Initial dataset was 10,000 records after performing merge there seems to be a duplicates

In [6]:
# drop duplicates based on all columns
df = df.drop_duplicates()

In [7]:
df.shape

(10000, 14)

Data in shape in now

In [8]:
#column changes
df.columns

Index(['country_name', 'location_name', 'service_point_name', 'service_type',
       'satisfied', 'satisfied_num', 'idea', 'lat_lon', 'time_zone',
       'created_at_tz', 'uploaded_at_tz', 'unique_id', 'gender', 'sentence'],
      dtype='object')

In [9]:
df = df.drop(columns=['uploaded_at_tz','unique_id'])

In [10]:
df.head()

,country_name,location_name,service_point_name,service_type,satisfied,satisfied_num,idea,lat_lon,time_zone,created_at_tz,gender,sentence
0,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,True,1,Buy a vehicle for the traders in palabek settl...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:24,MALE,We need buy vehicle traders palabek
1,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,False,0,Support us with a transport means to take our ...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:21,MALE,We need support us transport means
2,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,False,0,Bring a box for some saving groups in zone 6 b...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:13,MALE,We need bring box saving groups
3,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,False,0,Support us with ropes to tie our goats during ...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:08,MALE,We need support us ropes tie
4,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,False,0,Support our group with a pop corn machine that...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 11:50,MALE,We need support group pop corn

Remaining cleaning process will be done in Tableau

In [11]:
#df.to_csv('final.csv',index=False)

## Analysis

In [12]:
df['service_type'].value_counts()

Healthcare         3370
Water              2035
Protection         1594
Livelihoods        1117
Education           573
Food                450
Nutrition           381
Shelter             299
Community Pulse     181
Name: service_type, dtype: int64

In [13]:
df['gender'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

MALE      89.4%
FEMALE    10.5%
Name: gender, dtype: object

In [15]:
df['country_name'].value_counts()

Uganda     4248
Rwanda     3565
Somalia    2187
Name: country_name, dtype: int64

In [16]:
healthcare_df = df[(df['service_type'] == 'Healthcare') & (df['satisfied'] == False)]
healthcare_df[['satisfied_num','sentence']].head(50)

     satisfied_num                                    sentence
56               0    We need issue documents village midwives
66               0                  We need give us drugs work
67               0          We need tell health workers health
72               0     We need bring nurses consultation rooms
73               0        We need employ refugees nurses speak
74               0     We need use good language communicating
75               0              We need we need mobile clinics
76               0           We need stock drugs health centre
77               0        We need employ refugees nurses speak
78               0         We need tell give birth certificate
79               0      We need providing services free charge
80               0            We need bring medical forms even
83               0      We need health workers prescribe drugs
84               0    We need tell midwives listening pregnant
85               0       We need be available weekends treated
86               0             We need make follow mothers hiv
89               0          We need supply feed children order
90               0                  We need tell give us money
91               0           We need sign letters early enough
93               0            We need tell nurses coming early
98               0     We need construct another health center
101              0        We need make sure emergency patients
103              0         We need always test typhoid malaria
104              0        We need provide children longer take
105              0               We need advise giving us time
110              0             We need provide enough drugs go
114              0             We need it would better provide
115              0         We need encourage women go hospital
118              0              We need issue enough rdts vhts
119              0       We need employ nurses nakivale health
120              0            We need tell keep masks hospital
121              0             We need it would better provide
122              0      We need construct hospital nakivale us
125              0      We need tell nurses welcoming patients
130              0        We need give us medication according
131              0        We need supply enough drugs hospital
165              0    We need start feeding programme admitted
183              0         We need bring good medication works
196              0                 We need provide us oil pour
202              0        We need spray houses settlement kill
227              0  We need run consultation activities rather
233              0     We need vhts equipped medical knowledge
240              0              We need they find ways provide
268              0          We need midwives care mother labor
279              0       We need for sake reducing congestions
292              0           We need all kind drugs especially
293              0        We need ministry of health implement
305              0     We need getting better service weekends
313              0                                 We need nan
334              0                                 We need nan