In [1]:
import pandas as pd
import nltk

In [2]:
nltk.download('punkt')  # Download necessary NLTK data

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Benedict\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
# Load dataframe
data = pd.read_csv('kuja.csv')

In [4]:
print(data.shape)
data.head(2)

(10000, 13)

,country_name,location_name,service_point_name,service_type,satisfied,satisfied_num,idea,lat_lon,time_zone,created_at_tz,uploaded_at_tz,unique_id,gender
0,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,True,1,Buy a vehicle for the traders in palabek settl...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:24,1/28/2021 12:28,e26b3d90-617c-11eb-a5d6-7ddcf5547601,MALE
1,Uganda,Palabek,Palabek: Livelihood Pulse,Livelihoods,False,0,Support us with a transport means to take our ...,"3.31308419,32.40578580",Africa/Kampala,1/28/2021 12:21,1/28/2021 12:28,80f85750-617c-11eb-a5d6-7ddcf5547601,MALE

In [5]:
idea = data['idea']

In [6]:
idea.to_csv('idea.csv',index=False)

In [7]:
# Load dataframe with statements
df = pd.read_csv('idea.csv')

In [8]:
df.head()

                                                idea
0  Buy a vehicle for the traders in palabek settl...
1  Support us with a transport means to take our ...
2  Bring a box for some saving groups in zone 6 b...
3  Support us with ropes to tie our goats during ...
4  Support our group with a pop corn machine that...

In [9]:
# Function to generate 5-word sentence
def generate_sentence(statement):
    # Tokenize statement into individual words
    words = nltk.word_tokenize(statement)
    # Filter out stop words and non-alphanumeric characters
    filtered_words = [word.lower() for word in words if word.isalnum() and word not in nltk.corpus.stopwords.words('english')]
    # Take first 4 words and join with "we need"
    sentence = "We need " + " ".join(filtered_words[:4])
    return sentence

In [10]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Benedict\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
df['idea'] = df['idea'].astype(str)

In [12]:
# Apply function to dataframe column
df['sentence'] = df['idea'].apply(generate_sentence)

In [13]:
# View resulting dataframe
df.head(20)

,idea,sentence
0,Buy a vehicle for the traders in palabek settl...,We need buy vehicle traders palabek
1,Support us with a transport means to take our ...,We need support us transport means
2,Bring a box for some saving groups in zone 6 b...,We need bring box saving groups
3,Support us with ropes to tie our goats during ...,We need support us ropes tie
4,Support our group with a pop corn machine that...,We need support group pop corn
5,Be receiving only cases that are referred to o...,We need be receiving cases referred
6,Train saving groups on the importance of inves...,We need train saving groups importance
7,Build houses for total orphans for them to own...,We need build houses total orphans
8,Provide seeds early this time so that we can g...,We need provide seeds early time
9,Hire bigger land for the agricultural groups s...,We need hire bigger land agricultural
10,Support us to start a brick laying project so ...,We need support us start brick
11,Reallocate ration cards from Kyaka to Nakivale...,We need reallocate ration cards kyaka
12,Try to give us knickers next time to enable us...,We need try give us knickers
13,Solve people's issues on houses mostly PSNs by...,We need solve people issues houses
14,Construct houses for people who missed this su...,We need construct houses people missed
15,Support us members of fish project with fridge...,We need support us members fish
16,Help us raise our children property by allowin...,We need help us raise children
17,Recruit casual workers who acquired building a...,We need recruit casual workers acquired
18,Employ one more legal officer in order for peo...,We need employ one legal officer
19,Be visiting villages and we tell them our prob...,We need be visiting villages tell

In [15]:
#df.to_csv('nlp_idea.csv',index=False)